.form-control[b-eepcxpyrjw] {
    margin-bottom: 10px;
    }
.btn-secondary[b-eepcxpyrjw] {
    margin-left: 890px;
    background-color: rgb(24, 131, 61);
}
.btn-cancelar[b-eepcxpyrjw]{
    background-color: rgb(243, 102, 102);
}
.btn-aceptar[b-eepcxpyrjw]{
    background-color: rgb(24, 131, 61)
}